{% extends "cryptoclient/_base.html" %}

{% block title %}
	<p>Buy/Sell</p>
{% endblock title %}

{% block header %}
	
	
{% endblock header %}
	
{% block main %}
	<h1>Buy/Sell</h1>

	<ol>
		{% for account in accounts %}
			
			<li>Available: {{account.available}}</li>
			<li>Hold: {{account.hold}}</li>
			<li>Currency:{{account.currency}}</li>

		{% endfor %}

		{% for crypto_pair in crypto_pairs %}
			<li>{{crypto_pair.id}}</li>
			
			
		{% endfor %}

		{% for open_order in open_orders %}
			<li>{{open_order.side}}</li>
			<li>{{open_order.type}}</li>
			<li>{{open_order.created_at}}</li>
			<li>{{open_order.price}}</li>
			<li>{{open_order.size}}</li>
			
			
		{% endfor %}

	</ol>

	<form action="{% url 'cryptoclient:buy-sell' %}" method="POST">
	    {% csrf_token %}
	    {{ form }}
	    <input type="submit" value="Submit" />
	</form>


{% endblock main %}