{% extends "cryptoclient/_base.html" %}

{% block title %}
	<p>Buy/Sell Orders</p>
{% endblock title %}

{% block header %}
	
	
{% endblock header %}
	
{% block main %}
	<h1>Buy/Sell Accounts</h1>

	<h3><a href="{% url 'cryptoclient:options-list' %}">Options</a></h3>
	<h3><a href="{% url 'cryptoclient:buy-sell' %}">Buy/Sell</a></h3>

		{% for account in accounts %}
			
			<li>Available: {{account.available}}</li>
			<li>Hold: {{account.hold}}</li>
			<li>Currency:{{account.currency}}</li>

		{% endfor %}

		
	

{% endblock main %}