{% extends "cryptoclient/_base.html" %}



{% block title %}
	<p>Buy/Sell</p>
{% endblock title %}

{% block header %}
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
	<link href="https://cdnjs.cloudflare.com/ajax/libs/c3/0.4.10/c3.min.css" rel="stylesheet" />
	<script src="https://d3js.org/d3.v3.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/c3/0.4.10/c3.min.js"></script>
	
	
{% endblock header %}
	
{% block main %}
	<h1>Buy/Sell</h1>
	

	<h3><a href="{% url 'cryptoclient:options-list' %}">Options</a></h3>
	<h3><a href="{% url 'cryptoclient:buy-sell-order' %}">Orders</a></h3>
	<h3><a href="{% url 'cryptoclient:buy-sell-accounts' %}">Accounts</a></h3>

	<div id="chart">
		
	</div>

	<div class="tab">
		<button class="tablinks" onclick="openCity(event, 'London')">London</button>
		<button class="tablinks" onclick="openCity(event, 'Paris')">Paris</button>
		<button class="tablinks" onclick="openCity(event, 'Tokyo')">Tokyo</button>
	</div>


	<div id="London" class="tabcontent">
		<h3>London</h3>
		<p>London is the capital city of England.</p>
	</div>

	<div id="Paris" class="tabcontent">
		<h3>Paris</h3>
		<p>Paris is the capital of France.</p> 
	</div>

	<div id="Tokyo" class="tabcontent">
		<h3>Tokyo</h3>
		<p>Tokyo is the capital of Japan.</p>
	</div>
	


	<!-- <ol>
		{% for account in accounts %}
			
			<li>Available: {{account.available}}</li>
			<li>Hold: {{account.hold}}</li>
			<li>Currency:{{account.currency}}</li>

		{% endfor %}

	</ol> -->

	<form action="{% url 'cryptoclient:buy-sell' %}" method="POST">
		{% csrf_token %}
		{{ form }}
		<input type="submit" value="Submit" />
	</form>


{% endblock main %}