{% extends "cryptoclient/_base.html" %}
{% load static %}

{% block title %}
	<p>Profile</p>
{% endblock title %}

{% block header %}
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

	
	
{% endblock header %}
	
{% block main %}
	
	<!-- <h3><a href="{% url 'cryptoclient:options-list' %}">Options</a></h3> -->
	<div>
		<h1>Profile</h1>

		<div>
			<h1>Total Account Value: {{account_value}}</h1>
			
		</div>
	</div>
	
	<h2>Past Transactions</h2>
	{% for transaction in past_buysell_transactions %}
		<h2>---------------------------------------------------------------</h2>
		
		<h3>Transaction Amount:</h3>
		<li>{{transaction.amount}}</li>
		<h3>Transaction Date</h3>
		<li>{{transaction.created_at}}</li>
		{% if transaction.to %}
			<h2>To address:</h2>
			<li>{{transaction.to.address}}</li>
			<h2>Currency</h2>
			<li>{{transaction.to.currency}}</li>
		{% endif %}
		{% if transaction.buy %}
			<h2>Amount:</h2>
			<li>{{transaction.native_amount.amount}}</li>
			<h2>Currency</h2>
			<li>{{transaction.native_amount.currency}}</li>
		{% endif %}
		<h3>Transaction Description</h3>
		<li>{{transaction.details.title}}</li>
	{% endfor %}

{% endblock main %}