{% extends "cryptoclient/_base.html" %}
{% load static %}

{% block title %}
	<p>Orders</p>
{% endblock title %}

{% block header %}
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    
	
	
{% endblock header %}
	
{% block main %}
	<!-- <h1>Buy/Sell Orders</h1> -->
<!-- 
	<h3><a href="{% url 'cryptoclient:options-list' %}">Options</a></h3>
	<h3><a href="{% url 'cryptoclient:buy-sell' %}">Buy/Sell</a></h3>
 -->
	

		<!-- {% for open_order in open_orders %}
			<ol>
				<h3>Currency:{{open_order.product_id}}</h3>
				<li>Order Side: {{open_order.side}}</li>
				<li>Order Type: {{open_order.type}}</li>
				<li>Created At: {{open_order.created_at}}</li>
				<li>Price: ${{open_order.price}}</li>
				<li>Size: {{open_order.size}}</li>
			
			</ol>
		{% endfor %} -->

	<!-- <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
          <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
            
            <div class="btn-toolbar mb-2 mb-md-0">
              <div class="btn-group mr-2">
                <button class="btn btn-sm btn-outline-secondary">Share</button>
                <button class="btn btn-sm btn-outline-secondary">Export</button>
              </div>
              <button class="btn btn-sm btn-outline-secondary dropdown-toggle">
                <span data-feather="calendar"></span>
                This week
              </button>
            </div>
          </div>

          <! <canvas class="my-4 w-100" id="myChart" width="900" height="380"></canvas> -->

          
          
          <form action="{% url 'cryptoclient:submit-key' %}" method="POST">
            {% csrf_token %}
            {{ form.as_ul }}
            <input class="btn btn-outline-primary" type="submit" value="Submit"/>
          </form>
          
          
        <!-- </main> --> 
      </div>
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script src="../../assets/js/vendor/popper.min.js"></script>
    <script src="../../dist/js/bootstrap.min.js"></script>

    <!-- Icons -->
    <script src="https://unpkg.com/feather-icons/dist/feather.min.js"></script>

	

{% endblock main %}