{% extends "cryptoclient/_base.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %}
	<p>SWAP-CRYPTO</p>
{% endblock title %}

{% block header %}
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script type="text/javascript" src="{% static 'cryptoclient/css/style.css' %}"></script>
    
	
	
{% endblock header %}
	
{% block main %}
	<!-- <h1>Swap Crypto</h1> -->
	<h3><a href="{% url 'cryptoclient:swap-crypto-wallet' %}">List of Wallets</a></h3>
	<h3><a href="{% url 'cryptoclient:swap-crypto-prices' %}">Pair Prices</a></h3>
	
	<!-- <h1>{{auth.auth_nickname}}</h1> -->
	<h1>{{auth.exch_name}}</h1>
	<!-- <h3>List of your Tokens </h3>
	{% for balance in balances %}
		
		<p>Name: {{balance.balance_curr_code}}</p>
		
		<p>Balance Available: {{balance.balance_amount_avail}}</p>
		
		
		
	{% endfor %} -->
	<!-- <form action="{% url 'cryptoclient:swap-crypto' %}" method="POST">
		{% csrf_token %}
		{{ chart_form }}
		<input class="btn btn-outline-primary" type="submit" value="Submit"/>
	</form> -->
	<h1>Binance</h1>
	<div style="width:30%">
		<form class="limit" action="{% url 'cryptoclient:swap-crypto' %}" method="POST">
		    {% csrf_token %}
		    <p>Pair:</p>
		    {{ form.pair }}
		    <p>Order Type:</p>
		    {{ form.order_type }}
		    <p>Market or Limit:</p>
		    {{ form.price_type }}
		    <p>Price:</p>
		    {{ form.price }}
		    <p>Order Quantity</p>
		    {{ form.order_quantity }}

		    <input class="btn btn-outline-primary" type="submit" value="Submit"/>
		</form>
	</div>
	<!-- <form class="market" action="{% url 'cryptoclient:swap-crypto' %}" method="POST">
	    {% csrf_token %}
	    <p>Pair:</p>
	    {{ market_form.crypto_pair }}
	    <p>Order Type:</p>
	    {{ market_form.order_side }}
	    <p>Market or Limit:</p>
	    {{ market_form.order_type }}
	    <p>Order Quantity</p>
	    {{ market_form.amount }}

	    <input class="btn btn-outline-primary" type="submit" value="Submit"/>
	</form> -->

	
	
	

	


{% endblock main %}

{% block footer %}
		<!-- <script type="text/javascript" src="{% static 'cryptoclient/js/toggle.js' %}"></script>  -->
		
{% endblock footer %}