{% extends "cryptoclient/_base.html" %}
{% load static %}

{% block title %}
	<p>List Wallet Addresses</p>
{% endblock title %}

{% block header %}
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <link href="{% static 'cryptoclient/css/style.css' %}" rel="stylesheet" type="text/css" />
	
	
{% endblock header %}
	
{% block main %}
	<!-- <h3><a href="{% url 'cryptoclient:wallet-create' %}">Create Wallet</a></h3> -->
	<h3><a href="{% url 'cryptoclient:send-money' %}">Send Money</a></h3>
	<h3><a href="{% url 'cryptoclient:options-list' %}">Options</a></h3>

	<h2>Coinbase Wallets</h2>
	<h3>Wallet Address</h3>
	<h3>YOU NEED TO COPY THE ADDRESS</h3>
	<div class="container">
		
		<ul>
			{% for wallet in addresses %}
				<ul>
					<h2>{{wallet.network}}</h2>
					

					
					<li>ADDRESS: {{wallet.address}}</li>
				</ul>
			{% endfor %}
		</ul>
		
	</div>

	


{% endblock main %}