{% extends "cryptoclient/_base.html" %}

{% block title %}
	<p>To or from GDAX</p>
{% endblock title %}

{% block header %}
	
	
{% endblock header %}
	
{% block main %}
	<h3><a href="{% url 'cryptoclient:wallet-list' %}">Wallet List</a></h3>
	<h3><a href="{% url 'cryptoclient:options-list' %}">Options</a></h3>
	<h3>Transfer between Coinbase and GDAX</h3>
	
	<form action="{% url 'cryptoclient:coinbase-gdax-transfer' %}" method="POST">
	    {% csrf_token %}
	    {{ form }}
	    <input type="submit" value="Submit" />
	</form>

	


{% endblock main %}