{% extends "cryptoclient/_base.html" %}
{% load static %}

{% block title %}
	<p>To or from GDAX</p>
{% endblock title %}

{% block header %}
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    
	
{% endblock header %}
	
{% block main %}
	<!-- <h3><a href="{% url 'cryptoclient:wallet-list' %}">Wallet List</a></h3> -->
	<!-- <h3><a href="{% url 'cryptoclient:options-list' %}">Options</a></h3> -->
	<h3>Transfer between Coinbase and GDAX</h3>
	
	<div style="width:30%">
		<form action="{% url 'cryptoclient:coinbase-gdax-transfer' %}" method="POST">
		    {% csrf_token %}
		    <p>Amount:</p>
		    {{ form.amount }}
		    <p>Currency:</p>
		    {{ form.currency }}
		    <p>Deposit = Gdax / Withdraw = CB</p>
		    {{ form.transaction }}
		    <input class="btn btn-outline-primary" type="submit" value="Submit"/>
		</form>
	</div>

	


{% endblock main %}