{% extends "cryptoclient/_base.html" %}

{% block title %}
	<p>List Wallets</p>
{% endblock title %}

{% block header %}
	
	
{% endblock header %}
	
{% block main %}
	<!-- <h3><a href="{% url 'cryptoclient:wallet-create' %}">Create Wallet</a></h3> -->
	<h3><a href="{% url 'cryptoclient:wallet-address' %}">Wallet Addresses</a></h3>
	<h3><a href="{% url 'cryptoclient:options-list' %}">Options</a></h3>
	<h3><a href="{% url 'cryptoclient:coinbase-gdax-transfer' %}">Coinbase-GDAX Transfer</a></h3>
	<h3>CURRENT WALLETS</h3>
	<div class="container">
		<ul>
			
				{% for wallet in wallets %}
					<ul>
						<h3>{{wallet.name}}</h3>
						
						<li>AMOUNT:{{wallet.balance.amount}}</li>
						<li>ASSET:{{wallet.balance.currency}}</li>
						<li>USD:{{wallet.native_balance.amount}}</li>

					
					</ul>
				{% endfor %}
			
		</ul>
	</div>

	


{% endblock main %}